@import 'vendors/bootstrap/_bootstrap.scss';
@import 'vendors/font-awesome/font-awesome';
@import url('https://www.fontify.me/wf/d933cafd43f2809f1bb845a6ba9f3166');

$main-font: 'font73655', sans-serif; /*font HelveticaNeueLStd Roman*/
$menu-font-color: #FF801A;
$name_of_day_color: #b3c304;
$main-font-color: #828282;

@keyframes happy_animation {
  0% {
    background-color: #ffa625;
    left: 0%;
    top: 0%;
    transform: scale(1) rotate(0deg);
  }
  12.5% {
    background-color: #ccff41;
    left: 40%;
    top: 25%;
    transform: scale(1.3) rotate(180deg);
  }
  25% {
    background-color: #64ff3d;
    left: 35%;
    top: 35%;
    transform: scale(1.6) rotate(360deg);
  }
  37.5% {
    background-color: #0e8079;
    left: 25%;
    top: 40%;
    transform: scale(1.9) rotate(180deg);
  }
  50% {
    background-color: #ffff00;
    left: 0%;
    top: 0%;
    transform: scale(2.2) rotate(0deg);
  }
  62.5% {
    background-color: #ccff41;
    left: -40%;
    top: 25%;
    transform: scale(1.9) rotate(180deg);
  }
  75% {
    background-color: #64ff3d;
    left: -35%;
    top: 35%;
    transform: scale(1.6) rotate(360deg);
  }
  87.5% {
    background-color: #0e8079;
    left: -25%;
    top: 40%;
    transform: scale(1.3) rotate(180deg);
  }
  100% {
    background-color: #ffff00;
    left: 0%;
    top: 0%;
    transform: scale(1) rotate(0deg);
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  background: #FAFAFA;
  font-family: $main-font, sans-serif;
  color: $main-font-color;
}

/*header*/
header {
  padding: 0px auto 20px 100px;
  height: 81px;
  width: 100%;
  background: #fff url("../img/line_under_header.png") center no-repeat;
  position: relative;
}

header img {
  margin-left: 100px;
  float: left;
}

header ul {
  float: left;
}

#menu li {
  float: left;
  list-style-type: none;
  text-transform: uppercase;
  margin: 30px;
  margin-left: 0;
  padding: 0px;
  max-width: 100px;
  font-weight: bold;
  color: $menu-font-color;
}

#menu li.current_page {
  margin-left: 25px;
  position: relative;
}

#menu li.current_page div img {
  position: absolute;
  right: 30px;
  margin-top: 5px;
}

#user {
  display: inline-block;
  position: relative;
  left: 37%;
}

#user span {
  margin: 30px 5px 30px 0;
  float: left;
}

#chech_grey {
  margin: 38px 5px 38px 0;
  float: left;
}

#photo {
  margin: 23px 8px 23px 0;
  float: left;
}

/*section intro*/
#intro {
  width: 100%;
  margin-top: 20px;
}

/*dic week_progress*/

#week_progress {
  padding: 0;
}

#week_progress span {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}

#twelve_circles {
  width: 220px;
  position: relative;
  left: 15px;
}

.green_circle {
  background: url("../img/green_line.png") no-repeat;
  background-position: 0px 11px;
}

.grey_circle {
  background: url("../img/grey_line.png") no-repeat;
  background-position: 0px 11px;
}

.grey_circle:last-child {
  background: none;
}

#grey_circle_week7 {
  position: relative;
}

#white_circle_week7 {
  position: absolute;
  z-index: 1;
  left: 2px;
  top: 9px;
}

#twelve_circles .green_circle, #twelve_circles .grey_circle {
  padding: 0px;
}

/*div weeek*/
#week div {
  height: 44px;
  max-height: 44px;
}

#intro div.container {
  width: 1024px;
  margin-right: 0px;
}

.border_arrow {
  width: 26px;
  padding-right: 20px;
  margin-top: 20px;
  background: url("../img/border_arrow.png") no-repeat center;
}

.border_arrow:first-child {
  margin-left: 30px;
}

#week h1 {
  color: $menu-font-color;
}

/*div protein_options*/
div #protein_options {

  font-size: 10px;
  text-align: right;
  height: 60px;
  padding-right: 0px;
}

#protein_images img {
  padding-left: 15px;
}

#protein_options div:first-child {
  height: 20px;
  position: relative;
  right: 15%;
}

#protein_options span {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}

.cross-line {
  background: url("../img/cross_line.png") center no-repeat;
  background-position: 100% 20%;
  background-size: 100% 150%;
}

/*section calendar*/
#choose_day {
  display: none;
}

#choose_day {
  display: none
}

#menu-icon {
  display: none;
  width: 48px;
  height: 48px;
  background: url("../img/nav.png") center;
}

a:hover#menu-icon {
  border-radius: 4px 0 4px 4px;
}

#calendar {
  margin-top: 30px;
}

.whole_week {
  max-width: 1024px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.calendar {
  width: 12.5%;
  background: #fff;
}

.meal_on_mobile {
  display: none;
}

.which_day {
  height: 50px;
  line-height: 50px;
}

div.wave_background.which_day {
  height: 70px;
}

.which_day h2 {
  text-align: center;
}

.hour {
  font-weight: bold;
}

.wave_background {
  background: #e3e3e3 url("../img/background_wave.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.big_field_in_calendar {
  height: 100px;
  padding: 5px;
  padding-bottom: 0px;
  position: relative;
}

div.wave_background.big_field_in_calendar {
  line-height: 100px;
}

.small_field_id_calendar {
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.border_in_calendar {
  height: 20px;
}

.border_in_calendar img {
  width: 100%;
  max-width: 128px;
}

#from_6am_to_6pm_day70 {
  height: 560px;
}

#from_6am_to_6pm_day70 img {
  display: block;
  position: relative;
  top: 390px;
  margin-left: auto;
  margin-right: auto;
}

#text_rotate {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

#from_6am_to_6pm_day70 h1 {
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  right: 290px;
}

#print {
  height: 100px;
  line-height: 100px;
}

#day65 {
  box-sizing: border-box;
  border: 2px solid #ff801a;
}

.which_day h2 {
  color: $name_of_day_color;
}

.current_day h2 {
  color: $menu-font-color;
}

.current_day {
  color: black;
}

.current_day .small_field_id_calendar {
  color: $main-font-color;
}

#day65 .which_day {
  height: 48px;
}

#day65 .small_field_id_calendar:last-child {
  height: 38px;
}

#day66, #day67, #day68, #day69 {
  box-sizing: border-box;
  border-right: 2px solid #dbdbdb;
}

img.check_in_round {
  position: absolute;
  right: 11px;
  top: 3px;
}

/*section offer*/

#advertisment {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 50px;
  align-items: center;
}

#advertisment h2 {
  margin-top: 0px;
}

.offert_line {
  padding-left: 50px;
  padding-right: 50px;
}

.button {
  background: url("../img/button_border.png") no-repeat center;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  background-size: 100% 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  position: relative;
}

.button img {
  vertical-align: sub;
  padding-left: 5px;
  padding-right: 5px;

}

a:link, a:hover {
  color: $main-font-color;
  text-decoration: none;
  font-weight: 600;
}

/*media queries*/
@media(max-width: 767px) {
  body {
    width: 100%;
    max-width: 360px;
  }

  /*header*/
  header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    background: #fff;
  }
  #line_next_to_menu {
    display: none;
  }
  #menu {
    display: flex;
    flex-direction: column;
  }
  #menu li {
    margin-bottom: 15px !important;
  }
  .current_page {
    margin-left: 0 !important;
  }
  #user {
    clear: both;
    position: static;
  }

  /*section intro*/
  #week {
    width: 100%;
    margin-top: 97px;
  }
  .container {
    max-width: 360px;
  }
  #week div.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .border_arrow:first-child {
    margin-left: 0px;
  }
  #choose_day {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  #menu-icon {
    display: inline-block;
  }
  #choose_day ul,
  #choose_day:active ul {
    display: none;
    z-index: 1000;
    position: absolute;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border: 3px solid $menu-font-color;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    background: #FAFAFA;
  }
  #choose_day:hover ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #choose_day li {
    width: 50%;
    text-align: center;
    list-style-type: none;
    padding: 10px 0;
  }
  #choose_day a, #choose_day a:hover {
    color: $name_of_day_color;
  }
  #choose_day .current_day, #choose_day .current_day:hover {
    color: $menu-font-color;
  }
  #week_progress, #protein_options, #hours, .new_line, .border_in_calendar.wave_background {
    display: none;
  }

  /*section calendar*/
  .calendar {
    width: 100%;
    flex-direction: column;
    display: flex;
  }
  .meal_on_mobile {
    display: inline;
  }
  .whole_week {
    flex-direction: column;
  }
  .border_in_calendar, .border_in_calendar img {
    width: 100%;
    max-width: none;
  }
  .big_field_in_calendar, .small_field_id_calendar {
    height: auto;
  }
  .small_field_id_calendar {
    background: #ececec;
    text-align: left;
  }
  .diet {
    margin-top: 15px;
  }
  .shake {
    height: 40px;
  }
  .shake:hover {
    height: 100%;
  }
  #day64, #day66, #day67, #day68, #day69, #day70 {
    box-sizing: border-box;
    border-left: 2px solid #dbdbdb;
    border-right: 2px solid #dbdbdb;
  }
  #day64, #day67, #day68, #day69, #day70 {
    border-top: 2px solid #dbdbdb;
  }
  #day70 {
    border-bottom: 2px solid #dbdbdb;
  }
  #from_6am_to_6pm_day70 {
    min-height: 100px;
    max-height: 300px;
  }
  #text_rotate {
    transform: rotate(0deg);
    text-align: center;
  }
  #text_rotate h1 {
    position: static !important;
  }
  .happy {
    top: 0px;
    border-radius: 50%;
    background: #ffff00;
    animation: happy_animation 15s infinite;
  }

  /*section advertisment*/
  #advertisment {
    flex-direction: column;
  }
  .offert {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .offert_line img {
    display: none;
  }
  .offert_line:before {
    content: url("../img/border_bottom_in_calendar.png");
  }
}